*.pickle
*.csv
/parser/parser_table.tex
/parser/alia/
/parser/all_standings.md
/parser/auflia/
/parser/auflira/
/parser/aufnira/
/parser/bv/
/parser/donebenches.md
/parser/f.txt
/parser/lia/
/parser/lra/
/parser/nia/
/parser/nra/
/parser/pleasedo.sh
/parser/qf_abv/
/parser/qf_alia/
/parser/qf_aufbv/
/parser/qf_auflia/
/parser/qf_ax/
/parser/qf_idl/
/parser/qf_lia/
/parser/qf_lra/
/parser/qf_nia/
/parser/qf_nra/
/parser/qf_rdl/
/parser/qf_uf/
/parser/qf_ufbv/
/parser/qf_ufidl/
/parser/qf_uflia/
/parser/qf_uflra/
/parser/qf_ufnra/
/parser/uf/
/parser/ufbv/
/parser/uflia/
/parser/.smtbench*ini
